#about {
  background: #2b2b2b;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#about .profile-pic {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 50%;
}

#info {
  text-align: start;
}

#about h2 {
  font: 22px/30px "opensans-bold", sans-serif;
  color: #fff;
  margin-bottom: 12px;
}
#about p {
  line-height: 30px;
  color: #7a7a7a;
}
#about a,
#about a:visited {
  color: #fff;
}
#about a:hover,
#about a:focus {
  color: #11abb0;
}
#about .download .button {
  margin-top: 6px;
  background: #444;
  padding: 12px;
}
#about .download .button:hover {
  background: #fff;
  color: #2b2b2b;
}
#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  #about {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  #about h2 {
    font-size: 16px/24px;
  }

  #about .profile-pic {
    display: flex;
    justify-content: start;
    margin-bottom: 24px;
  }
}
